/*Desktop*/
@media only screen and (min-width: 1023px) {
    .cardcontainer{
        width: 180px;
        background-color: #EF6332;
        border-radius: 5px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .cardtitle{
        width: 100%;
        padding: 25px 5px 5px;
        text-align: center
    }
    .cardtitle p{
        color:white;
        font-weight: bold
    }
}

/*Mobile*/
@media only screen and (max-width: 700px) {
    .cardcontainer{
        width: 35vw;
        background-color: #EF6332;
        border-radius: 5px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .cardtitle{
        width: 100%;
        padding: 15px 5px;
        text-align: center
    }
    .cardtitle p{
        color:white;
        font-weight: bold;
        width: 80%;
        margin: auto
    }


}

/*Tablet*/
@media only screen and (min-width: 700px) and  (max-width: 1023px) {
    .cardcontainer{
        width: 35vw;
        background-color: #EF6332;
        border-radius: 5px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .cardtitle{
        width: 100%;
        padding: 25px 5px 5px;
        text-align: center
    }
    .cardtitle p{
        color:white;
        font-weight: bold
    }
}
